:root
{
  --bg-main: #ffffff;     
  --bg-deep: #E5E7EB;     
  --bg-card: #ffffff;    
  --bg-element: #f9fafb; 
  --bg-header: #ffffff;
  --bg-bck: #ffffff;
  --text-main: #111827;  
  --text-dim: #4b5563;   
  --text-muted: #9ca3af;  
  --text-btn-contrast: #ffffff;  


  --border: #d1d5db;     
  --border-strong: #9ca3af;
  --bg-btn-contrast: #000002;
}

[data-theme="dark"]
{
  --bg-main: #121212;     
  --bg-deep: #000002;        
  --bg-card: #1a1a1a;        
  --bg-element: #27272A;     
  --bg-header: #2a2a2a;
  --bg-bck: #000002;

  --text-main: #ffffff;      
  --text-dim: #cecece;     
  --text-muted: #666666;     

  --bg-btn-active: #202023;
  --bg-btn-contrast: #ffffff;
  --text-btn-contrast: #000002; 


  --border: rgba(255,255,255,0.10);
  --border-strong: rgba(255,255,255,0.25);

  --accent-cyan: #22d3ee;
  --accent-amber: #fbbf24;
  --accent-crimson: #f87171;
  --accent-violet: #a78bfa;
}

:root {
  --success: #22c55e; 
  --info:    #22d3ee;  
  --warning: #f59e0b; 
  --error:   #ef4444; 
  --request: #a855f7;  
}


body {
    background: var(--bg-main);
}

.app {
    display: grid;
    grid-template-columns: minmax(380px, 22vw) 1fr;
    grid-template-rows: 1fr;  

    border: 0.4px solid var(--border);
    background: var(--bg-main);
    margin-top: 44px;
    height: 100vh;
    overflow: hidden;
}





html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden; 
}



.header {
    grid-column: 1 / -1;
    justify-content: space-between;
    padding: 12px 20px;
}


.left {
    background: var(--bg-element);
    border-top: 0.4px solid var(--border);
    border-right: 0.3px solid var(--border);
}

.center {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
}


.menu {
  display: inline-block;
  margin-bottom: 8px;
  margin-top: 8px;
  background: var(--bg-element);
  height: 100%;
  display: flex;
  flex-direction: column;

}

.menu-btn {
  width: 100%;
  height: 3.5rem;
  background: var(--bg-btn-active);
  text-align: left;
  font-size: 44px;
  border: none;
  cursor: pointer;
  margin-bottom: 44px;
  margin-left: 44px;

}